<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# ğŸ“ Assignment

# ê°€ì„¤ ê²€ì •

## 1. One-Sample T-test ì—°ìŠµ

### ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
- [ì„œìš¸ì‹œ ê°€ë¡œìˆ˜ ë°ì´í„°ì…‹](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì„¸ìš”. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

In [1]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd

trees = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt', sep='\t', skiprows =1)

trees = trees.replace({'-':0})

trees.head()

     ê¸°ê°„  ìì¹˜êµ¬    ë…¸ì„ ìˆ˜       ìˆ˜ëŸ‰     ì€í–‰ë‚˜ë¬´  ...    ë¬´ê¶í™”    ì†Œë‚˜ë¬´   ëª©ë ¨    ì´íŒë‚˜ë¬´      ê¸°íƒ€
0  2019  ì„œìš¸ì‹œ  1,412  307,351  108,050  ...  2,374  4,539  378  20,088  20,112
1  2019  ì¢…ë¡œêµ¬     70    7,329    4,072  ...      0    239    0     711      29
2  2019   ì¤‘êµ¬     48    8,250    3,640  ...     46  2,162    0     470     817
3  2019  ìš©ì‚°êµ¬     39    7,835    4,444  ...      0     51  126     198     780
4  2019  ì„±ë™êµ¬     38    8,120    1,090  ...      0     53    0     709     646

[5 rows x 24 columns]

### "ì„œìš¸ì‹œì—ëŠ” êµ¬ë³„ë¡œ í‰ê·  ì•½ 400 ê·¸ë£¨ ì •ë„ì˜ `ì´íŒë‚˜ë¬´`ê°€ ìˆë‹¤"ë¼ëŠ” ê°€ì„¤ì— ëŒ€í•´ ê°€ì„¤ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

- ë‹¨, `ì„œìš¸ì‹œ`, `ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ`, `ì‹œì„¤ê´€ë¦¬ê³µë‹¨` ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì œì™¸í•©ë‹ˆë‹¤.
- ê°€ì„¤ê²€ì • ê²°ê³¼ì˜ pvalue ê°’ì„ `pv1`ì— ì €ì¥í•˜ì„¸ìš”. (`.pvalue` ì‚¬ìš©)

In [2]:
# ì„œìš¸ì‹œ, ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ, ì‹œì„¤ê´€ë¦¬ê³µë‹¨ ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì œì™¸

trees = trees[(trees['ìì¹˜êµ¬'] != 'ì‹œì„¤ê´€ë¦¬ê³µë‹¨') & (trees['ìì¹˜êµ¬'] != 'ì„œìš¸ì‹œ') & (trees['ìì¹˜êµ¬'] != 'ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ')]
trees.head()

     ê¸°ê°„  ìì¹˜êµ¬ ë…¸ì„ ìˆ˜     ìˆ˜ëŸ‰   ì€í–‰ë‚˜ë¬´  ì–‘ë²„ì¦˜ë‚˜ë¬´  ... ì‚´êµ¬ë‚˜ë¬´ ë¬´ê¶í™”    ì†Œë‚˜ë¬´   ëª©ë ¨ ì´íŒë‚˜ë¬´   ê¸°íƒ€
1  2019  ì¢…ë¡œêµ¬  70  7,329  4,072  1,071  ...    0   0    239    0  711   29
2  2019   ì¤‘êµ¬  48  8,250  3,640    162  ...   21  46  2,162    0  470  817
3  2019  ìš©ì‚°êµ¬  39  7,835  4,444  1,422  ...   39   0     51  126  198  780
4  2019  ì„±ë™êµ¬  38  8,120  1,090  2,401  ...    0   0     53    0  709  646
5  2019  ê´‘ì§„êµ¬  28  7,223  1,247  2,306  ...    0   0     20  113  760  443

[5 rows x 24 columns]

In [3]:
# ì´íŒë‚˜ë¬´ ì»¬ëŸ¼ì„ intë¡œ ë§Œë“¤ê¸°

def toInt(string):
  return int(string.replace(',', ''))

trees['ì´íŒë‚˜ë¬´'] = trees['ì´íŒë‚˜ë¬´'].apply(toInt)
trees.dtypes

ê¸°ê°„         int64
ìì¹˜êµ¬       object
ë…¸ì„ ìˆ˜       object
ìˆ˜ëŸ‰        object
ì€í–‰ë‚˜ë¬´      object
ì–‘ë²„ì¦˜ë‚˜ë¬´     object
ëŠí‹°ë‚˜ë¬´      object
ì™•ë²šë‚˜ë¬´      object
ì€ë‹¨í’ë‚˜ë¬´     object
ë©”íƒ€ì„¸ì½°ì´ì–´    object
íšŒí™”ë‚˜ë¬´      object
ê°€ì£½ë‚˜ë¬´      object
ê°ë‚˜ë¬´       object
ìˆ˜ì–‘ë²„ë“¤      object
íŠœìš¸ë¦½ë‚˜ë¬´     object
ì¹ ì—½ìˆ˜       object
í¬í”ŒëŸ¬       object
ëŠë¦…ë‚˜ë¬´      object
ì‚´êµ¬ë‚˜ë¬´      object
ë¬´ê¶í™”       object
ì†Œë‚˜ë¬´       object
ëª©ë ¨        object
ì´íŒë‚˜ë¬´       int64
ê¸°íƒ€        object
dtype: object

In [4]:
# ë°ì´í„°ì…‹ í™•ì¸í•˜ê¸°

trees.head()

     ê¸°ê°„  ìì¹˜êµ¬ ë…¸ì„ ìˆ˜     ìˆ˜ëŸ‰   ì€í–‰ë‚˜ë¬´  ì–‘ë²„ì¦˜ë‚˜ë¬´  ... ì‚´êµ¬ë‚˜ë¬´ ë¬´ê¶í™”    ì†Œë‚˜ë¬´   ëª©ë ¨ ì´íŒë‚˜ë¬´   ê¸°íƒ€
1  2019  ì¢…ë¡œêµ¬  70  7,329  4,072  1,071  ...    0   0    239    0  711   29
2  2019   ì¤‘êµ¬  48  8,250  3,640    162  ...   21  46  2,162    0  470  817
3  2019  ìš©ì‚°êµ¬  39  7,835  4,444  1,422  ...   39   0     51  126  198  780
4  2019  ì„±ë™êµ¬  38  8,120  1,090  2,401  ...    0   0     53    0  709  646
5  2019  ê´‘ì§„êµ¬  28  7,223  1,247  2,306  ...    0   0     20  113  760  443

[5 rows x 24 columns]

In [5]:
# ê° êµ¬ë³„ë¡œ ì´íŒë‚˜ë¬´ í‰ê·  ìˆ˜ 

# trees_epab = trees.groupby(["ìì¹˜êµ¬"], as_index=False)['ìì¹˜êµ¬',"ì´íŒë‚˜ë¬´"].mean()
trees_epab = trees['ì´íŒë‚˜ë¬´']
trees_epab

1      711
2      470
3      198
4      709
5      760
6     1176
7      449
8      853
9      575
10      47
11     142
12     443
13     493
14    1280
15     784
16    1426
17    1082
18     184
19    1281
20     397
21     249
22     446
23     768
24    1651
25     642
Name: ì´íŒë‚˜ë¬´, dtype: int64

In [6]:
from scipy import stats

# pv1 = 0.0024 ì´ë¯€ë¡œ ë§¤ìš° ë‚®ë‹¤. ì¦‰, ê°€ì„¤ì´ í‹€ë ¸ë‹¤. 

pv1 = stats.ttest_1samp(trees_epab, 400).pvalue
pv1

0.002470712850935819

### ì´ë²ˆì—ëŠ” 10ê°œì˜ êµ¬ë¥¼ ìƒ˜í”Œë§í•˜ì—¬, ìœ„ì— ëŒ€í•œ ê°€ì„¤ê²€ì •ì„ ë‹¤ì‹œ í•œë²ˆ ì‹œí–‰í•´ë³´ì„¸ìš”.

- ë‹¨, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì°¸ì¡°í•˜ì—¬ sampleì„ ìœ„í•œ seed ëŠ” 123ë¡œ ì„¤ì •í•˜ì„¸ìš”.
- ê°€ì„¤ê²€ì • ê²°ê³¼ì˜ pvalueê°’ì„ `pv2`ì— ì €ì¥í•˜ì„¸ìš”

In [7]:
import numpy as np
np.random.seed(123)

trees_samp_10 = np.random.choice(trees_epab, size = 10)  # "~"ì™€ " "ì„ ì ì ˆí•œ ê°’ìœ¼ë¡œ ì±„ìš°ì‹œë©´ ë©ë‹ˆë‹¤
trees_samp_10

array([1280,  198,  198,  449,  184,  397,  142,  768,  470,  711])

In [8]:
# 10ê°œì˜ ìƒ˜í”Œë§ì„ ì´ìš©í•œ ê°€ì„¤ê²€ì • ê²°ê³¼ ê°’ pv2

pv2 = stats.ttest_1samp(trees_samp_10, 400).pvalue
pv2

0.49772576203804575

## 2. Two-Sample T-test ì—°ìŠµ

### "ì„œìš¸ì‹œì˜ êµ¬ë³„ í‰ê·  ëŠí‹°ë‚˜ë¬´ìˆ˜ì™€ ì™•ë²šë‚˜ë¬´ì˜ ìˆ˜ëŠ” ì°¨ì´ê°€ ì—†ë‹¤"ë¼ëŠ” ê°€ì„¤ì— ëŒ€í•´ ê°€ì„¤ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

- ë‹¨, `ì„œìš¸ì‹œ`, `ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ`, `ì‹œì„¤ê´€ë¦¬ê³µë‹¨` ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì œì™¸í•©ë‹ˆë‹¤.
- ê°€ì„¤ê²€ì • ê²°ê³¼ì˜ pvalueë¥¼ `pv3`ì— ì €ì¥í•˜ì„¸ìš”

In [9]:
# ì´íŒë‚˜ë¬´ ì»¬ëŸ¼ì„ intë¡œ ë§Œë“¤ê¸°

def toInt(string):
  return int(string.replace(',', ''))

trees_neuti = trees['ëŠí‹°ë‚˜ë¬´'].apply(toInt)
trees_king = trees['ì™•ë²šë‚˜ë¬´'].apply(toInt)
trees_neuti.head(), trees_king.head()

(1     619
 2     460
 3     373
 4    1975
 5    1057
 Name: ëŠí‹°ë‚˜ë¬´, dtype: int64, 1    421
 2    289
 3    262
 4    602
 5    940
 Name: ì™•ë²šë‚˜ë¬´, dtype: int64)

In [18]:
trees_neuti.mean()

1415.12

In [19]:
trees_king.mean()

1292.0

In [10]:
pv3 = stats.ttest_ind(trees_neuti, trees_king).pvalue
pv3

0.6455096880085703


### Two-Sample One-tailed testë¥¼ ì‚¬ìš©í•˜ì—¬ **í‰ê·  ëŠí‹°ë‚˜ë¬´ìˆ˜ê°€ ì™•ë²šë‚˜ë¬´ ìˆ˜ë³´ë‹¤ í¬ë‹¤**ë¼ëŠ” ê°€ì„¤ì— ëŒ€í•œ ê°€ì„¤ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.
- í•´ë‹¹ ê°€ì„¤ê²€ì •ì˜ ê²°ê³¼ë¥¼ `ans`ì— ì €ì¥í•˜ì„¸ìš”.

ì´ ë•Œ `ans`ê°€ ê°€ì§ˆ ìˆ˜ ìˆëŠ” ê°’ì€ ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤ :
1. "ëŠí‹°ë‚˜ë¬´" ( ëŠí‹°ë‚˜ë¬´ì˜ ìˆ˜ê°€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ê²Œ ë§ì€ ê²½ìš° )
2. "ì™•ë²šë‚˜ë¬´" ( ì™•ë²šë‚˜ë¬´ì˜ ìˆ˜ê°€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ê²Œ ë§ì€ ê²½ìš° )
3. "ì—†ìŒ" (í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ì§€ ì•Šì€ ê²½ìš°)

Two-Sample One-tailed testë¥¼ scipyì—ì„œ í•˜ëŠ” ë°©ë²•ì€ ì•„ë˜ì˜ ë§í¬ë¥¼ ì°¸ê³  í•˜ì„¸ìš”  
ì°¸ê³  ë§í¬ : https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

In [20]:
# ê·€ë¬´ê°€ì„¤ íŒë‹¨ì˜ ê¸°ì¤€ì´ p value 0.05 (ë³€ìˆ˜ alpha ì„ ì–¸)
# ê·€ë¬´ê°€ì„¤ : í‰ê·  ëŠí‹°ë‚˜ë¬´ìˆ˜ê°€ ì™•ë²šë‚˜ë¬´ ìˆ˜ë³´ë‹¤ í¬ë‹¤.
# a < p-value ë¼ë©´, ê·€ë¬´ ê°€ì„¤ ì±„íƒ
# a > p-value ë¼ë©´, ëŒ€ë¦½ ê°€ì„¤ ì±„íƒ

alpha = 0.05

stats.ttest_ind(trees_neuti, trees_king)
pv = stats.ttest_ind(trees_neuti, trees_king).pvalue

def find_ans(pvalue):
  if alpha < pvalue:
    return print('ëŠí‹°ë‚˜ë¬´')
  elif alpha > pvalue:
    return print('ì™•ë²šë‚˜ë¬´')
  else:
    return print('ì—†ìŒ')

find_ans(pv)

ëŠí‹°ë‚˜ë¬´

## ğŸ”¥ **ë„ì „ê³¼ì œ**
> 2ë¬¸ì œ ëª¨ë‘ í•˜ë©´ ë©ë‹ˆë‹¤.

### 1. Compare mean for multiple-sample 
 
ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì„¸ìš”. <https://reneshbedre.github.io/blog/anova.html>

êµ¬ë³„, ì€í–‰ë‚˜ë¬´, ì–‘ë²„ì¦˜ë‚˜ë¬´, ëŠí‹°ë‚˜ë¬´ì— ëŒ€í•´ì„œ ANOVA Testë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

ë‹¨, `ì„œìš¸ì‹œ`, `ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ`, `ì‹œì„¤ê´€ë¦¬ê³µë‹¨` ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì œì™¸í•©ë‹ˆë‹¤.

In [12]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤

### 2. Sampling

- ì„¸ì…˜ ì‹œê°„ì— ë°°ì› ë˜ 4ê°€ì§€ sampling (Simple Random, Systematic, Stratified Random, Cluster) ë°©ì‹ì„ êµ¬í˜„í•´ë³´ì„¸ìš”.

- ì´ë¥¼ ìœ„í•œ ë°ì´í„°ëŠ” 1 ë¶€í„° 100ì„ ë‹´ì€ numpy arrayì´ë©°, Sampling í•´ì•¼ í•˜ëŠ” ìˆ˜ëŠ” 20ê°œ ì…ë‹ˆë‹¤.

- Stratified Random Samplingì„ ìœ„í•œ ê·¸ë£¹ì„ ë‚˜ëˆ„ëŠ” ê¸°ì¤€ì€ 1-10, 11-20, ... ê³¼ ê°™ì€ ë°©ì‹ì…ë‹ˆë‹¤.

- Cluster Samplingì—ì„œ ê·¸ë£¹ì„ ë‚˜ëˆ„ëŠ” ê¸°ì¤€ì€ 5ë¡œ ë‚˜ëˆ´ì„ë•Œì˜ ë‚˜ë¨¸ì§€ ê°’ì…ë‹ˆë‹¤. (0,1,2,3,4)

In [13]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤