<a href="https://colab.research.google.com/github/DAWUNHAN/algorithms-and-dataStructure/blob/master/%EB%B0%B1%EC%A4%80%20%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4/%5B%EC%A0%95%EB%A0%AC%5D_10814.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 10814
- [문제](https://www.acmicpc.net/problem/10814)
- 문제 해설 : 첫 번째 줄에 입력된 수 n명 만큼 나이와 이름이 입력될 때, 이를 나이순으로 정렬하되 나이가 같은 경우 먼저 들어온 사람을 먼저 정렬한다.

In [17]:
n = int(input())
people = list()

for _ in range(n):
    input_data = input().split(' ')
    people.append((int(input_data[0]), input_data[1]))

people = sorted(people, key=lambda x:x[0])

for i in people:
  print(i[0], i[1])

3
20 kim
10 han
15 park
10 han
15 park
20 kim